/*
    TYPOGRAPHY
    "Words Are Pictures..."
*/

h1,h2,h3,.h3,h4 {
    color: light-dark(var(--color-dark-gray-2), var(--color-gray-2));
    font-family: var(--font-family-heading);
    font-weight: 400;
}

h1, h2 {
    font-variant-ligatures: historical-ligatures;
}

h3, .h3, h4, .h4 {
    -webkit-font-smoothing: subpixel-antialiased;  /* Fake 500 */
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: .4px;
}

h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);  
    margin-bottom: var(--ui-spacing-6);
}

h2 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
}

h3, .h3 {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
}

h4, .h4 {
    font-size: var(--font-size-h4);
    line-height: var(--line-height-base);
}

p {
    line-height: var(--line-height-base);
    margin-bottom: var(--ui-spacing-6);
}

a { 
    color: light-dark(var(--color-dark-gray-2), var(--color-gray-2));
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover, 
a:focus-visible {
    color: var(--color-text-accent);
} 

pre {
    background: black;
    border-radius: var(--ui-spacing-3);
    margin-block: var(--ui-spacing-6);
    display: block;
    white-space: pre;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding: 0;
    -webkit-overflow-scrolling: touch;
}

code {
    color: var(--color-text-accent-2);
    border-radius: var(--border-radius-xs);
}

hr {
    margin-top: var(--ui-spacing-xl);
    border-color: light-dark(var(--color-gray-2), var(--color-dark-gray-1));
}

/* Drop Cap */
.long-copy {
    p:first-of-type:first-letter {
        font-size: 4.8rem;
        color: light-dark(var(--color-black), var(--color-white));
        float: left;
        line-height: 1;
        margin: 6px 6px 0 0;
        font-family: var(--font-family-heading);
        font-weight: 400;
        font-variant: historical-ligatures;
    
        @media (width < 640px){ 
            font-size: 4rem;
            margin: 4px 6px 0 0;
        }
    }
}