<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miguel Fondeur | Apps | {{ title }}</title>

    <!-- App-specific CSS -->
    {% if css %}
    {% assign appPath = page.url | split: "/" | slice: 0, 3 | join: "/" %}
    <link href="{{ appPath }}/_assets/css/styles.css" rel="stylesheet">
    {% endif %}
    <style>
        html { min-height: 100vh; }
        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    </style>
</head>
<body>
    {{ content }}

    <!-- App-specific JavaScript -->
    {% if js %}
    <script src="{{ appPath }}/_assets/js/app.js" type="module"></script>
    {% endif %}
</body>
</html> 