.content-section {
    margin-top: 11.2rem;

    @media (width < 767px) {
        margin-top: 9.6rem;
    }
}

.column-section {
    display: grid;
    gap: var(--equal-columns-gap, var(--ui-spacing-8)) 0;

    @media (width > 1024px) {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}

.owl-icon {
    margin-bottom: var(--ui-spacing-4);
    color: light-dark(var(--color-dark-gray-2), var(--color-gray-2));
}

aside.aside-section {
    padding-left: 9.6rem;
    display: flex;
    flex-direction: column;
    gap: var(--ui-spacing-6) 0;

    @media (width < 1280px) {
        padding-left: var(--ui-spacing-xl);
    }

    @media (width < 1024px) {
        padding-left: 0;
    }
}

.section-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 0;

    & .container {
        margin-inline: auto;
    }
}

.hero-section ul {
    list-style: none;
    display: flex;
    gap: var(--ui-spacing-4);
    text-decoration: none;
    padding: 0;

    & *:focus-visible {
        outline: 1px solid var(--color-text-accent);
    }
}

.about-section-grid {
    display: grid;
    row-gap: var(--ui-spacing-xl);
    grid-template-columns: repeat(1, minmax(0, 1fr));
    
    @media (width >= 1024px) {
        row-gap: var(--ui-spacing-12);
        grid-template-rows: auto 1fr;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        .item-1,
        .item-3 {
            padding-left: var(--ui-spacing-2xl);
        }

        .item-2 {
            grid-row: span 2 / span 2;
            order: calc(-infinity);
        }
    }

    & .about-image {
        margin-inline: 1rem;
        max-width: none;
        aspect-ratio: 1;
        background-color: var(--color-bg-site);
        rotate: 3deg;
        border-radius: var(--border-radius-lg);
        overflow: hidden;

        & img {
            background-color: var(--color-bg-site);
            aspect-ratio: 1;
            object-fit: cover;
        }

        /* Small Screens */
        @media (width < 1024px){
            max-width: 32rem;
        }
    }
}
 


.hero-section ul a:not(:hover) {
    color: light-dark(var(--color-gray-6), var(--color-gray-4));
}

.hero-section ul svg {
    width: var(--ui-spacing-6);
    fill: currentColor;
}

.hero-section ul li {
    display: inline-flex;
}

.hero-section ul:not(.social-list) li a {
    height: var(--ui-spacing-8);
    width: var(--ui-spacing-8);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}


.brand-grid {
    display: grid;
    margin-top: var(--ui-spacing-6);
    grid-template-columns: repeat(4, 1fr); 
    gap: var(--ui-spacing-4); /* Adjust spacing between items */

    & a.grid-item {
        /* aspect-ratio: 1 / 1; */
        padding: var(--ui-spacing-6);
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: var(--border-radius-md);
        transition: background-color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
        color: light-dark(var(--color-gray-6), var(--color-gray-4));

        & .brand {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
        }

        & svg {
            /* max-width: 10rem; */
            width: 100%; 
        }

        &:hover {
            background-color: light-dark( var(--color-gray-1), var(--color-dark-gray-3) );
            color: light-dark(var(--color-dark-gray-2), var(--color-gray-2));
        }
    }

    @media (width > 1024px) {
        grid-template-columns: repeat(6, 1fr); 
        & .brand {
            width: 80%;
        }
    }
    @media (width < 640px) { 
        grid-template-columns: repeat(3, 1fr);

        & svg {
            max-width: 9rem;
        }
    }
}

.work-grid {
    display: grid;
    margin-top: var(--ui-spacing-6);
    grid-template-columns: repeat(1, 1fr); 
    gap: var(--ui-spacing-8); /* Adjust spacing between items */
    row-gap: var(--ui-spacing-8);
    column-gap: var(--ui-spacing-12);

    & .work-item {
        cursor: pointer;
        position: relative;
    }

    & .work-item button {
        background-color: transparent;
        border-color: transparent;
        margin: 0;
        padding: 0;
        text-align: left;
        cursor: pointer;
        z-index: 1;
        position: relative;
        padding: var(--ui-spacing-4);
    }

    & .work-thumb {
        height: var(--ui-spacing-12);
        width: var(--ui-spacing-12);
        border-radius: 100%;
        overflow: hidden;
        background-color: light-dark(var(--color-gray-2), var(--color-dark-gray-2));
        border: 1px solid;
        border-color: light-dark(var(--color-gray-2), var(--color-dark-gray-1));
        padding: .5rem;
        margin-bottom: var(--ui-spacing-6);
    }
    & .work-thumb img {
        border-radius: 100%;
    }
    & h3 {
        margin-bottom: var(--ui-spacing-3);
        font-weight: bold;
    }
    & p {
        color: light-dark(var(--color-gray-6), var(--color-gray-4));
    }
    & .work-item button p {
        font-size: var(--font-size-sm);
        margin-top: var(--ui-spacing-2);
        color: light-dark(var(--color-gray-6), var(--color-gray-4));
        line-height: var(--ui-spacing-6);
    }

    .work-hover-state {
        position: absolute;
        border-radius: var(--border-radius-md);
        background-color: light-dark( var(--color-gray-1), var(--color-dark-gray-3) );
        width: calc(100% + var(--ui-spacing-5));
        height: 100%;
        top: 0;
        left: -1rem;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        
        /* Small Screens */
        @media (width < 640px){
            width: calc(100% + var(--ui-spacing-8));
            left: -1.6rem;
        }
    }

    & .expand-icon {
        color: var(--color-gray-8);
        position: absolute;
        right: 0rem;
        top: var(--ui-spacing-3);
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    & .work-item button:focus-visible {
        outline: 0;
    }

    & .work-item button:focus-visible + .work-hover-state {
        outline: 1px solid var(--color-text-accent);
    }

    & .work-item button:focus-visible + .work-hover-state,
    & .work-item button:hover + .work-hover-state,
    & .work-item button:hover  .expand-icon {
        opacity: 1;
    }
    @media (width > 520px){
        grid-template-columns: repeat(2, 1fr); 
    }
    @media (width > 1024px){
        grid-template-columns: repeat(3, 1fr); 
    }
}