/* Buttons */
.button-wrapper {
    display: flex;
    gap: var(--ui-spacing-3);
    flex-wrap: wrap;
}

.button-link {
    font-size: var(--font-size-sm);
    border: 1px solid;
    border-color: light-dark(var(--color-gray-2), var(--color-dark-gray-1));
    
    color: light-dark(var(--color-dark-gray-2), var(--color-gray-2));
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: var(--ui-spacing-3);
    background-color: light-dark(var(--color-gray-2), var(--color-dark-gray-2));
    border-radius: var(--border-radius-lg);
    line-height: 1;
    text-transform: capitalize;
    transition: color 0.15s ease-in-out,
                border-color 0.15s ease-in-out;

    &:hover {
        border-color: var(--color-text-accent);
        color: var(--color-text-accent);
    }
}

.skip-nav-button {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--color-gray-8);
    border-radius: var(--border-radius-md);
    color: var(--color-white);
    padding: var(--ui-spacing-3);
    z-index: 10;
    font-size: var(--font-size-sm);
    font-weight: bold;

    &:not(:focus) {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    @media (min-width:  640px) {
        left: var(--ui-spacing-8);
    }
}