ul.tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--ui-spacing-3);
    padding-left: 0;

    & li {
        border: 1px solid;
        padding: 1rem;
        line-height: 1;
        font-size: var(--font-size-sm);
        font-weight: 500;
        border-radius: var(--border-radius-xs);
        color: light-dark(var(--color-gray-6), var(--color-gray-4));
    }
}

ul.links {
    li a {
        display: inline-flex;
        align-items: center;
        font-weight: 600;

        & svg {
            margin-right: var(--ui-spacing-2);
        }

        &:not(:hover) { 
            color: light-dark(var(--color-dark-gray-2), var(--color-gray-2));
        }
    }
}

ul.social-list {
    display: flex;
    flex-direction: column;

    & li a {
        display: flex;
        align-items: center;
        font-size: var(--font-size-sm);
    }

    & li a:not(:hover) {
        color: light-dark(var(--color-dark-gray-2), var(--color-gray-2));
    }

    & li svg {
        margin-right: var(--ui-spacing-6);
        color: light-dark(var(--color-gray-6), var(--color-gray-4));
    }

    & li:nth-child(4) {
        margin-top: var(--ui-spacing-4);
        padding-top: var(--ui-spacing-8);
        border-top: 1px solid;
        border-color: light-dark(var(--color-gray-2), var(--color-dark-gray-1));
    }
}
