html {
    font-size: 62.5%;
    height: 100vh;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /* Set on html for consistency  */
    font-family: var(--font-family-body);
    line-height: 1.5;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        --color-bg-site: var(--color-black);
        --color-bg-content: var(--color-dark-gray-5);
        --color-bg-dialog: var(--color-dark-gray-4);
    }

    #theme-toggle {
        & #light-mode-icon { display: none; }
        & #dark-mode-icon { display: block; }
    }
}

html[data-theme="dark"] {
    color-scheme: dark;

    --color-bg-site: var(--color-black);
    --color-bg-content: var(--color-dark-gray-5);
    --color-bg-dialog: var(--color-dark-gray-4);

    #theme-toggle {
        & #light-mode-icon { display: none; }
        & #dark-mode-icon { display: block; }
    }
}

html[data-theme="light"] {
    color-scheme: light;

    --color-bg-site: var(--color-gray-1);
    --color-bg-content: var(--color-white);
    --color-bg-dialog: var(--color-white);

    #theme-toggle {
        & #light-mode-icon { display: block; }
        & #dark-mode-icon { display: none; }
    }
}

/* Preferences  */
@view-transition {
    navigation: auto;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        /* scroll-padding: var(--ui-spacing-10); */
        scroll-behavior: smooth;
    }
}

body {
    width: 100%;
    height: 100%;
    /* Fonts and Sizes */
    font-size: var(--font-size-base);
    font-family: var(--font-family-body);
    font-size-adjust: 0.5;
    text-rendering: optimizeLegibility;
    /* Colors */
    background-color: light-dark( var(--color-gray-1), var(--color-black) );
    color: light-dark(var(--color-gray-6), var(--color-gray-4));

    @media (min-width:  640px) {
        padding-inline: var(--ui-spacing-8);
    }
}

dialog::backdrop {
    background-color: color-mix(in srgb, var(--color-bg-site) 85%, transparent);
    backdrop-filter: blur(4px);
}

dialog[popover] {
    position: fixed;
    height: fit-content;
    overflow: auto;
    width: calc(100% - var(--ui-spacing-8));
    margin: var(--ui-spacing-6) var(--ui-spacing-4);
    border-radius: var(--border-radius-md);
    padding: 0;
    background-color: light-dark(var(--color-white), var(--color-dark-gray-4));
    border: 1px solid;
    border-color: light-dark(var(--color-gray-2), var(--color-dark-gray-1));
    opacity: 0;
    transition: all 0.2s allow-discrete;

    & menu a {
        padding-block: var(--ui-spacing-2);
        line-height: var(--line-height-base);
        display: flex;
        border-bottom: 1px solid;
        border-color: light-dark(var(--color-gray-2), var(--color-dark-gray-1));

        &[aria-current="page"] {
            border-color: var(--color-text-accent);
        }
    }

    & menu li:last-child a {
        border-bottom: 0;
    }

    &:popover-open {
        opacity: 1;
    }
}

main {
    flex: 1 0 auto;
    padding-top: 6rem;
    padding-bottom: 12.8rem;

    @media (min-width:  640px) {
        padding-top: 11.6rem;
    }
}

article main {
    padding-block: 0;
}