:root {
    /* Allows animation from units to intrisic values like 'auto' */
    interpolate-size: allow-keywords; 

    /* this has to be set to switch between light or dark */
    color-scheme: light dark;

    /* Colors */
    --color-white: hsl(0, 0%, 100%);
    --color-gray-1: hsl(0, 0%, 98%);
    --color-gray-2: hsl(0, 5%, 96%);
    --color-gray-3: hsl(348, 6%, 84%);
    --color-gray-4: hsl(240, 5%, 64%);
    --color-gray-5: hsl(240, 4%, 46%);
    --color-gray-6: hsl(240, 6%, 34%);
    --color-gray-7: hsl(235, 6%, 34%);
    --color-gray-8: hsl(240, 5%, 26%);
    --color-dark-gray-1: hsl(240, 2%, 18%);
    --color-dark-gray-2: hsl(240, 4%, 16%);
    --color-dark-gray-3: hsl(240, 6%, 13%);
    --color-dark-gray-4: hsl(345, 8%, 10%);
    --color-dark-gray-5: hsl(240, 6%, 10%);
    --color-black: hsl(0, 0%, 0%);
    --color-sea-green: hsl(152, 41%, 39%);
    --color-persian-orange: hsl(17, 47%, 64%);
    --color-fire-brick: hsl(5, 62%, 41%);

    /* Colors Usage */
    --color-bg-site: var(--color-gray-1);
    --color-bg-content: var(--color-white);
    --color-bg-dialog: var(--color-white);

    --color-text-accent: var(--color-sea-green);
    --color-text-accent-2: var(--color-persian-orange);
    --color-text-error: var(--color-fire-brick);

    /* Font Family */
    --font-family-heading: Baskerville, 'Libre Baskerville', 'Times New Roman', serif;;
    --font-family-body: Georgia, serif;

    /* UI Spacing - vertical and horizontal rhythm - divisible by 4 */
    --ui-spacing-0: 0;
    --ui-spacing-1: .4rem;
    --ui-spacing-2: .8rem;
    --ui-spacing-3: 1.2rem;
    --ui-spacing-4: 1.6rem;
    --ui-spacing-5: 2rem;
    --ui-spacing-6: 2.4rem;
    --ui-spacing-7: 2.8rem;
    --ui-spacing-8: 3.2rem;
    --ui-spacing-9: 3.6rem;
    --ui-spacing-10: 4rem;
    --ui-spacing-11: 4.4rem;
    --ui-spacing-12: 4.8rem;
    --ui-spacing-lg: 5.6rem;
    --ui-spacing-xl: 6.4rem;
    --ui-spacing-2xl: 8rem;

    /* Font Size */
    --font-size-xs: 1.2rem;
    --font-size-sm: 1.4rem;
    --font-size-base: var(--ui-spacing-4);
    --font-size-lg: 1.8rem;
    --font-size-h1: 4.2rem;
    --font-size-h2: 2rem;
    --font-size-h3: var(--font-size-base);
    --font-size-h4: var(--font-size-base);

    /* line-height */
    --line-height-sm: 2rem;
    --line-height-base: 2.8rem;
    --line-height-h1: 5.8rem;
    --line-height-h2: 2.8rem;
    --line-height-h3: 2.8rem;

    /* border radius */
    --border-radius-full: 100%;
    --border-radius-lg: 2.4rem;
    --border-radius-md: 1.6rem;
    --border-radius-sm: .6rem;
    --border-radius-xs: .4rem;

    /* Small Screens */
    @media (max-width: 640px){
        /* Font sizes */
        --font-size-h1: var(--ui-spacing-6);
        /* line heights */
        --line-height-h1: var(--ui-spacing-9);
    }
}



