:root {
    /* Allows animation from units to intrisic values like 'auto' */
    interpolate-size: allow-keywords; 

    /* this has to be set to switch between light or dark */
    color-scheme: light dark;

    /* Colors */
    --color-white: #fefefe;
    --color-gray-1: #f9f9f9;
    --color-gray-2: #f5f4f4;
    --color-gray-3: #d8d3d4;
    --color-gray-4: #9f9fa9;
    --color-gray-5: #71717b;
    --color-gray-6: #52525c;
    --color-gray-7: #51525c;
    --color-gray-8: #3f3f46;
    --color-dark-gray-1: #2e2e30;
    --color-dark-gray-2: #27272A;
    --color-dark-gray-3: #1e1e22;
    --color-dark-gray-4: #1b1718;
    --color-dark-gray-5: #18181b;
    --color-black: #000000;
    --color-sea-green: #3B8C66;
    --color-persian-orange: #CE9178;
    --color-fire-brick: #AB3428;

    /* Colors Usage */
    --color-bg-site: var(--color-gray-1);
    --color-bg-content: var(--color-white);
    --color-bg-dialog: var(--color-white);

    --color-text-accent: var(--color-sea-green);
    --color-text-accent-2: var(--color-persian-orange);
    --color-text-error: var(--color-fire-brick);

    /* Font Family */
    --font-family-heading: Baskerville, Times New Roman, serif;
    --font-family-body: Georgia, serif;

    /* UI Spacing - vertical and horizontal rhythm - divisible by 4 */
    --ui-spacing-0: 0;
    --ui-spacing-1: .4rem;
    --ui-spacing-2: .8rem;
    --ui-spacing-3: 1.2rem;
    --ui-spacing-4: 1.6rem;
    --ui-spacing-5: 2rem;
    --ui-spacing-6: 2.4rem;
    --ui-spacing-7: 2.8rem;
    --ui-spacing-8: 3.2rem;
    --ui-spacing-9: 3.6rem;
    --ui-spacing-10: 4rem;
    --ui-spacing-11: 4.4rem;
    --ui-spacing-12: 4.8rem;
    --ui-spacing-xl: 6.4rem;
    --ui-spacing-2xl: 8rem;

    /* Font Size */
    --font-size-xs: 1.2rem;
    --font-size-sm: 1.4rem;
    --font-size-base: var(--ui-spacing-4);
    --font-size-h1: 4.2rem;
    --font-size-h2: 2rem;
    --font-size-h3: var(--font-size-base);
    --font-size-h4: var(--font-size-base);

    /* line-height */
    --line-height-base: 2.8rem;
    --line-height-h1: 5.8rem;
    --line-height-h2: 2.8rem;
    --line-height-h3: 2.8rem;

    /* border radius */
    --border-radius-full: 100%;
    --border-radius-lg: 2.4rem;
    --border-radius-md: 1.6rem;
    --border-radius-sm: .6rem;
    --border-radius-xs: .4rem;

    /* Small Screens */
    @media (width < 640px){
        /* Font sizes */
        --font-size-h1: var(--ui-spacing-8);
        /* line heights */
        --line-height-h1: var(--ui-spacing-10);
    }
}



