/* =============================================== *\
   Block Styles
\* =============================================== */

.block {
	padding-bottom: 24px;
	position: relative;
}

.block-hero h1 {
  font-size: 7.2rem;
  font-size: calc(48px + (72 - 48) * ((100vw - 320px) / (960 - 320)));
  line-height: 7.2rem;
}

/* Scrolling to Blocks */
.section-target {
  left: 0;
  position: absolute;
	top: -96px;
}

@media (max-width: 320px) {
  .block-hero h1 {
    font-size: 48px;
  }
}

@media (min-width: 960px) {
  .block-hero h1 {
    font-size: 72px;
  }
}
