/* =============================================== *\
   Layout Styles
\* =============================================== */

.page-wrapper {
  background-color: var(--color-white);
  height: 100%;
  width: 100%;
}

.content-wrapper {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%;
}

.site-content {
  flex: 1 0 auto;
  margin-top: 96px;
  /* transition: opacity 2s ease-in; */
  animation: fadein 2s;
  transition: .15s margin linear;
}

.layout-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}

.site-footer {
  flex: none;
  height: 72px;
  width: 100%;
  color: var(--color-white);
  background-color: var(--color-black);
  margin-top: 2.4rem;
}

.site-footer .layout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

/* With Overlay */
body.with-overlay {
  overflow: hidden;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
  transition: .3s opacity linear;
  will-change: opacity;
}

body.with-overlay .overlay {
  z-index: 4;
  opacity: .85;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@media only screen and (max-width: 768px) {
  .site-content {
    margin-top: 72px;
  }
}

@media (max-width: 580px) {
  .layout-container {
    padding: 0 15px;
  }
}
