/* =============================================== *\
   Nav Styles
\* =============================================== */

.site-nav {
	background-color: rgba(250, 250, 250, .95);
	border-bottom: 2px solid #ddd;
	flex: none;
	height: 72px;
	margin-bottom: 24px;
	/* fixed */
	position: fixed;
	transition: background-color .3s linear;
	width: 100%;
	z-index: 3;
}

.site-nav ul {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
}

.site-nav ul li a {
	color: var(--color-black );
	display: block;
	height: 72px;
	line-height: 72px;
	margin: 0;
	padding: 0 30px;
	position: relative;
}

.site-nav ul li.logo {
  margin-right: auto;
  transition: color .3s linear;
}

.site-nav ul li.logo a {
	-webkit-box-reflect: below -44px linear-gradient(transparent 45%, rgba(250,250,250,.2));
	color: rgba(0, 0, 0, .4);
	font-size: 35px;
	-webkit-font-smoothing: auto;
	font-weight: bolder;
	letter-spacing: -9px;
	padding-left: 4px;
}

.site-nav ul li.logo a::first-letter {
	color: var(--color-black);
}

.site-nav ul li:not(.logo) a:after {
	background-color: var(--color-primary);
	bottom: 0;
	content: '';
	height: 2px;
	left: 0;
	position: absolute;
	transform: scaleX(0);
	transition: .2s all ease-in-out;
	width: 100%;
}

.site-nav ul li a:hover:after {
	transform: scaleX(1);
}

@media (max-width: 580px) {
  .site-nav ul li.logo a::first-letter {
    color: var(--color-white);
  }
  .site-nav ul li.logo a {
    color: rgba(250, 250, 250, .7);
  }

  .site-nav {
    background-color: hsla(0,0%,15%,.95);
    border-bottom: 0;
	}
	
  .site-nav ul li:not(.logo) {
    display: none;
  }
}
