/* =============================================== *\
   Card Styles
\* =============================================== */

:root {
  --animation-duration: .3s;
}

.work-card-wrapper, .card-wrapper {
  margin-bottom: 48px;
	min-height: 240px;
}

.example-card {
  background-color: #fff;
  background-size: cover;
	border: 1px solid #ddd;
	border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  height: 240px;
	margin: 0 0 24px 0;
	position: absolute;
	transform: translate3d(0,0,0);
	transform-origin: center;
  transition-duration: var(--animation-duration);
  transition-property: transform, width, height;
  transition-timing-function: ease-out;
  width: calc(100% - 1rem);
  will-change: transform, width, height;
  z-index: 2;
}

a.example-card {
  color: var(--color-black);
}

.example-card.active {
	height: calc(100vh - 50px);
  transform: translate3d(0,-190px,0);
  width: calc(300% - 10px);
	z-index: 6;
}

.work-card-wrapper .p-rel:nth-of-type(2) .example-card.active{
	transform: translate3d(-280px,-190px,0);
}

.work-card-wrapper .p-rel:nth-of-type(3) .example-card.active{
  transform: translate3d(-5px,-190px,0);
}
.work-card-wrapper .p-rel:nth-of-type(3) .example-card{
  right: 0;
}

.fig-img {
  align-items: center;
  background-position: top, center;
  background-repeat: no-repeat;
	background-size: contain;
	border: 1px solid #ddd;
	display: flex;
  height: 150px;
  justify-content: center;
  margin: 10px;
  opacity: 1;
  position: relative;
  transition: var(--animation-duration) opacity linear;
  width: calc(100% - 20px);
}

.example-card figcaption {
  margin: 0 10px 10px;
}

.example-card.active .example-card_content-sm {
  opacity: 0;
}

.example-card.active .example-card_content-lg {
  opacity: 1;
  visibility: visible;
}

.example-card_content-sm {
  display: inline-block;
  opacity: 1;
  padding-top: 12px;
  transition: opacity var(--animation-duration) linear;
}

.example-card_content-lg {
  bottom: -10px;
  left: 0;
  opacity: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  padding: 0px 30px 30px;
  top: 0;
  transition: opacity var(--animation-duration) linear;
  transition-delay: 0s;
  visibility: hidden;
  width: 100%;
}
.example-card.active .example-card_content-lg {
  transition-delay: var(--animation-duration);
}

.example-card figcaption {
  position: relative;
}

.example-card.active figcaption {
  height: calc(100% - 190px);
}

.example-card.active figcaption:after,
.example-card.active figcaption:before {
  content: '';
  height: 10px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 500;
}

.example-card.active figcaption:before {
  border-top: 1px solid #dedede;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  top: 0;
}

.example-card.active figcaption:after {
  border-bottom: 1px solid #dedede;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  bottom: -10px;
}

.example-card_content-lg::-webkit-scrollbar {
  display: none;
}

.example-card_content-lg p {
  text-align: justify;
}
.example-card_content-lg h2,
.example-card_content-lg h4 {
  margin-bottom: 12px;
}

.example-card_content-lg h2 + h5{
  margin-top: 0px;
}

.example-card .example-card_content-sm p,
.example-card .example-card_content-sm h5 {
	margin: 0;
}

.example-card .example-card_content-sm p {
  color: #aaa;
}

.fig-img.knozen {
  background-color: rgba(0,0,0,.8);
}
.fig-img.knozen:before {
  background-image: url(img/knozen-bg.png);
  background-size: cover;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.fig-img.simply {
  background-color: rgb(79,156,201,.8)
}

.fig-img.simply:before {
  background-image: url(img/simply.png);
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.fig-img.pommtree {
  background-color: rgba(28,134,117,.8)
}

.fig-img.pommtree:before {
  background-image: url(img/pommtree.jpg);
  background-size: cover;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.fig-img:after {
  content: '';
  height: 100%;
  position: absolute;
  transition: .1s all linear;
  width: 100%;
}

/* .work-card-wrapper .fig-img:after,
.card-wrapper .fig-img:after {
  background-color: rgba(230,230,230, 0);
}
.work-card-wrapper:hover .fig-img:after,
.card-wrapper:hover .fig-img:after {
  background-color: rgba(230,230,230, .7);
}

.example-card:hover .fig-img:after,
.example-card.active .fig-img:after {
  background-color: rgba(230,230,230,0);
} */
.fig-img.knozen img {
  width: 75px;
}
.fig-img.simply img {
  width: 180px;
}
.fig-img.pommtree img {
  width: 320px;
}

.fig-img.match-game {
  background-image: url('../../img/mariomatch.png');
  background-size: cover;
}
.fig-img.techromancer {
  background-image: url('../../img/techromancer.png');
  background-size: cover;
}
.fig-img.credit {
  background-image: url('../../img/creditcard.png');
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .work-card-wrapper, .card-wrapper {
    min-height: 768px;
  }
  .work-card-wrapper .p-rel:nth-of-type(3) .example-card {
    right: initial;
  }
  .example-card.active {
    transform: translate3d(-5px,-190px,0);
    width: 100%;
  }
  .work-card-wrapper .p-rel:nth-of-type(2) .example-card.active{
    transform: translate3d(-5px,-445px,0);
  }
  .work-card-wrapper .p-rel:nth-of-type(3) .example-card.active {
    transform: translate3d(0px,-700px,0);
  }
  .example-card_content-lg {
    padding: 0 15px 30px
  }
}


