/* =============================================== *\ 
    Icons
\* =============================================== */

/* Unicode Icons */
i[class^="icon"]{
    font-style: normal !important;
    text-decoration: none;
    font-size: 2rem;
}
.icon-hamburger:after {
    content: '☰';
}
.icon-mail:after {
    content: '✉';
}
.icon-star-solid:after {
    content: '★';
}
.icon-star:after {
    content: '☆';
}
.icon-pencil:after {
    content: '✎';
}
.icon-check:after {
    content: '✓';
}
.icon-keyboard:after {
    content: '⌨';
}
.icon-heart-solid:after {
    content:'❤';
}
.icon-heart:after {
    content:'♡';
}
.icon-search:after {
    content:'⌕';
}
.icon-left-arrow:after {
    content:'‹';
}
.icon-right-arrow:after {
    content:'›';
}
.icon-copyright:after {
    content:'©';
}
.icon-registered:after {
    content:'®';
}
.icon-trademark:after {
    content:'™';
}
.icon-sunshine:after {
    content: '☀';
}
.icon-moon:after {
    content: '☽';
}
.icon-music-notes:after {
    content: '♫';
}
.icon-cofee:after {
    content: '☕';
}
.icon-happy-solid {
    content: '☻';
}
.icon-happy {
    content: '☺';
}
.icon-multiply {
    content: '✕';
}
.icon-multiply-bold {
    content: '✖';  
}
.icon-atomic {
    content: '⚛';
}



