.flex-table {
	background-color: #fff;
	border: 1px solid #ccc;
	border-bottom: 0;
	border-right: 0;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-bottom: 48px;
	padding: 0;
}

.flex-table_cell {
	align-items: center;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	display:flex;
	flex-grow: 1;
	height: 144px;
	justify-content: center;
	text-align: center;
	width: 25%;
}

.flex-table_cell a {
  margin: 0;
  width: 60%;
}

.flex-table_cell img {
	filter: grayscale(100%);
	transition: .2s all linear;
	width: 100%;
}

.flex-table_cell:hover img {
	filter: grayscale(0);
}


/* Exceptions */
img.knozen-img, img.stf-img {
	width: 50%;
}

img.sirva-img,
img.malltip-img {
	width: 80%;
}


@media only screen and (max-width: 768px) {
  .flex-table_cell {
	height: 190px;
	width: 50%;
  }
}


