/* =============================================== *\
   Font Settings
\* =============================================== */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

:root {

    /* Font Stacks */
    --font-family-primary   : 'Lato', sans-serif;
    --font-family-secondary : Georgia, serif;

    /* Font Weights */
    --font-weight-thin          : 100;
    --font-weight-light         : 300;
    --font-weight-medium        : 400;
    --font-weight-bold          : 700;
    --font-weight-ultra-bold    : 900;

    /* Font and Screen Sizes  */
    --base-font-size    : 1rem;
    --base-line-height  : 24px;

    --minScreen: 30;
    --maxScreen: 120;

    --h1: 4.8rem;
    --h2: 3.6rem;
    --h3: 2.4rem;
    --h4: 2.1rem;
    --h5: 1.8rem;
    --h6: 1.6rem;

}


/*============================================

References:
https://www.smashingmagazine.com/2009/04/8-simple-ways-to-improve-typography-in-your-designs/
https://snook.ca/archives/html_and_css/font-size-with-rem
http://webtypography.net/

=============================================*/

