/* =============================================== *\ 
   Misc Settings
\* =============================================== */

:root {
    /* z-index settings */
    --z-index-modal      : 9000;
    --z-index-overlay    : 8000;
    --z-index-dropdown   : 7000;
    --z-index-three      : 6000;
    --z-index-two        : 5000;
    --z-index-one        : 4000;
}

/*============================================

References:
https://css-tricks.com/handling-z-index/

=============================================*/