---
title: Apps
layout: layout.html 
debug: true
---
<section class="hero-section">
   <div class="container" data-width="small">
       <h1>Tools, Passion Projects, and Experiments.</h1>
       <p>
         Over the years, I've built a few small apps. They're not all "production ready", but they reflect the kind of work I love doing. If something catches your eye, feel free to explore, learn from it, or even contribute. All projects are public on GitHub.
       </p>
   </div>
</section>

<section class="content-section">
      <ul class="work-grid" role="list">
         {% for app in apps %}
            <li class="work-item">
               <a href="{{ app.url }}" class="work-item-button" >
                  <div class="work-thumb">
                     <img loading="lazy" src="{{ app.thumb }}" alt="{{ app.name }} thumbnail">
                  </div>
                  <h3>{{ app.name }}</h3>
                  {% if app.summary %}
                     <p>{{ app.summary }}</p>
                  {% endif %}
               </a>
               <div class="work-hover-state"></div>
            </li>
         {% endfor %}
      </ul>
</section>