.hidden {
    display: none !important;
}

.inline-flex {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.text-accent {
    color: var(--color-text-accent);
}

.md-strip p:empty{
    display: none;
}