/* =============================================== *\
   Block Styleguide
\* =============================================== */

/* Settings */
.with-rules {
    /* vertical rhythm */
    background-image: -webkit-linear-gradient(lightblue 1px, transparent 1px);
    background-size: 100% 24px;
}

.with-rules .layout-container:before, .with-rules .layout-container:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: pink;
    top: 0;
}
.with-rules .layout-container:before  {
    left: 0;
}
.with-rules .layout-container:after {
    right: 0;
}

