footer#site-footer {
    padding: var(--ui-spacing-10) 0 var(--ui-spacing-xl);
    border-top: 1px solid;
    border-color: light-dark(var(--color-gray-2), var(--color-dark-gray-1));
    font-size: var(--font-size-sm);

    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 0 var(--ui-spacing-6);
    }
    
    & menu {
        display: flex;
        gap: var(--ui-spacing-5);
        list-style: none;
        padding: 0px;
        flex-wrap: wrap;
        justify-content: center;
    }

    & menu *:focus-visible {
        outline: 1px solid var(--color-text-accent);
    }
    
    & a {
        padding: var(--ui-spacing-2) var(--ui-spacing-3);
        border-radius: var(--border-radius-sm);
        text-decoration: none;
        color: light-dark(var(--color-dark-gray-2), var(--color-gray-2));
        display: inline-flex;
        align-items: center;

        &:hover {
            color: var(--color-text-accent);
        }

        & svg {
            margin-right: var(--ui-spacing-1);
        }
    }

    @media (width < 520px) {
        & .container {
            justify-content: center;
        }
    }
}