body.js-enabled {      
    button#theme-toggle {
        display: inline-flex !important;
    }
}

#theme-toggle {
    & #light-mode-icon { display: block; }
    & #dark-mode-icon { display: none; }
}

*:focus-visible {
    outline: 1px solid transparent;
}
button:focus-visible {
    outline: 1px solid var(--color-text-accent);
}

.site-wrapper {
    width: 100%;
    min-height: 100vh;
    max-width: 128rem;
    margin-inline: auto;
    background-color: var(--color-bg-content);
    border: 1px solid;
    border-color: light-dark(var(--color-gray-2), var(--color-dark-gray-1));
    border-top: 0;
    border-bottom: 0;
    display: flex;
    flex: auto;
    flex-direction: column;
    position: relative;
}

.breadcrumbs {
    font-size: var(--font-size-sm);
    margin-bottom: var(--ui-spacing-2);
    
    a {
        color: light-dark(var(--color-gray-6), var(--color-gray-4));
    }
    a:hover {
        color: light-dark(var(--color-dark-gray-2), var(--color-gray-2));
    }

    span {
        font-style: italic;
    }
    
}

.container {
    max-width: 67.2rem;
    margin-inline: auto;
    padding-inline: var(--ui-spacing-4);
    position: relative;
    box-sizing: content-box;

    @media (min-width:  640px) {
        padding-inline: var(--ui-spacing-8);
    }

    @media (min-width:  1024px) {
        max-width: 104rem;
    }

    &[data-width="micro"],
    &[data-width="tight"],
    &[data-width="small"],
    &[data-width="medium"] {
        margin: 0;
        padding: 0;
    }

    &[data-width="micro"] {
        max-width: 32rem;
    }
    &[data-width="tight"] {
        max-width: 60rem;
    }
    &[data-width="small"],
    &[data-width="small-center"] {
        max-width: 67.2rem;
    }
    &[data-width="medium"] {
        max-width: 76.8rem;
    }
}